<div class="calendarGrid"
    role="grid"
    aria-readonly="true">
    <div class="calendarTop"
        role="row">
        <div class="calendarTopLeft"></div>
        <ng-container *ngFor="let viewDay of viewDays; let viewDayIndex = index;">
            <div class="dateHeader"
                role="columnheader"
                tabindex="-1"
                id="{{'date_header_' + viewDayIndex}}">
                <div>{{viewDay.dayOfWeek}}</div>
                <div>{{viewDay.dayNumber}}</div>
            </div>
        </ng-container>
        <div class="vertScrollbarGutter"></div>
    </div>
    <div class="calendarBottom">
        <div aria-hidden="true"
            tabindex="-1">
            <ng-container *ngFor="let displayHour of displayHours">
                <div class="displayHour">
                    <div [ngStyle]="{'height': hourHeight + 'px'}">{{displayHour}}</div>
                </div>
            </ng-container>
        </div>
        
        <div class="calendarRight"
            role="presentation"
            tabindex="-1">
            <div role="row">
                <div class="hourHorizontalLines"
                    aria-hidden="true">
                    <ng-container *ngFor="let displayHour of displayHours">
                        <div [ngStyle]="{'height': hourHeight + 'px'}"></div>
                    </ng-container>
                </div>
                <div class="hourRightSpacer"></div>
                <div class="primaryColumns">
                    <ng-container *ngFor="let viewDay of viewDays; let viewDayIndex = index;">
                        <div class="primaryColumn"
                            role="gridcell"
                            tabindex="-1"
                            attr.aria-labelledby="{{'date_header_' + viewDayIndex}}">
                            <ng-container *ngFor="let viewSlot of viewDay.viewSlots">
                                <div class="scheduleSlot"
                                    role="button"
                                    tabindex="0"
                                    [ngStyle]="getSlotStyles(viewSlot)">
                                    <h2>{{viewSlot.calendarSlot.subject}}</h2>
                                    <div>{{viewSlot.calendarSlot.description}}</div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>