:host {
    overflow: hidden;
}

.calendarGrid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendarTop {
    display: flex;
    justify-content: space-evenly;
}

.calendarTopLeft {

}

.dateHeader {
    flex-grow: 1;
}

.dateHeader > div {
    text-align: center;
    width: 100%;
    margin: 0;
}

.calendarBottom {
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.calendarLeft {

}

.displayHour {
    position: relative;
    height: 48px; /* TODO: Make dynamic */
}

.displayHour > div {
    position: relative;
    text-align: right;
    top: -6px; /* TODO: Font percentage? */
}

.calendarRight {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
}

.calendarRight > div {
    display: inline-flex;
    min-width: 100%;
}

.hourHorizontalLines {
    border-top: #dadce0 1px solid;
}

.hourHorizontalLines > div {
    height: 48px; /* TODO: Make dynamic */
}

.hourHorizontalLines > div::after {
    content: '';
    position: absolute;
    width: 100%;
    margin-top: -1px;
    border-bottom: #dadce0 1px solid;
}

.hourRightSpacer {
    width: 8px;
    border-right: #dadce0 1px solid;
}

.primaryColumns {
    display: flex;
    flex-grow: 1;
}

.primaryColumn {
    flex-grow: 1;
    border-right: #dadce0 1px solid;
}