:host {
    overflow: hidden;
}

.calendarGrid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendarTop {
    display: flex;
}

.calendarTopLeft {
    width: calc(6ex + 8px); /* Width of and displayHour and hourRightSpacer */
}

.dateHeader {
    flex-grow: 1;
    flex-basis: 0;
}

.dateHeader > div {
    text-align: center;
    width: 100%;
    margin: 0;
}

/* Consume the space a vertical scrollbar would without being visible */
.vertScrollbarGutter {
    overflow-y: scroll;
    visibility: hidden;
}

.calendarBottom {
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.displayHour {
    position: relative;
}

.displayHour > div {
    position: relative;
    text-align: right;
    top: -6px; /* TODO: Font percentage? */
    width: 6ex;
}

.calendarRight {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
}

.calendarRight > div {
    display: inline-flex;
    min-width: 100%;
}

.hourHorizontalLines {
    border-top: #dadce0 1px solid;
}

.hourHorizontalLines > div::after {
    content: '';
    position: absolute;
    width: 100%;
    margin-top: -1px;
    border-bottom: #dadce0 1px solid;
}

.hourRightSpacer {
    width: 8px;
    border-right: #dadce0 1px solid;
}

.primaryColumns {
    display: flex;
    flex-grow: 1;
}

.primaryColumn {
    position: relative; /* Stacking context for slots */
    flex-grow: 1;
    border-right: #dadce0 1px solid;
}

.scheduleSlot {
    position: absolute;
    width: calc(100% - 20px);
    z-index: 1;
    cursor: pointer;
}

.scheduleSlot h2 {
    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 3px;
    font-weight: 600;
    font-size: 14px;
}

.scheduleSlot div {
    margin-left: 3px;
    font-weight: 400;
    font-size: 12px;
}